*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
    .row{
        .col-md-4{
            i{
                color: black;
                font-size: 50px;
                padding: 10px;
                border: 1px solid black;
            }
        }
    }
}